<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
    Welcome, visitor!
</body>

<script src="scripts/main.js"></script>

</html>